.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

.cell-table-header{
    background:#275E8E; 
    color: #FFF !Important;
    font-weight: 700 !Important;
    font-size: 15px !Important;
    text-align: center;
}

.cell-table-body{
  text-align: left;
  background-color: #E5E5E5;
  border-color: #E5E5E5;
  width: 90%;
  padding: 6px !Important; 
}

.cell-table-body-red{
  text-align: left;
  border-color: #E5E5E5;
  padding: 6px !Important; 
  min-height: 30px;
  border-right: 2px solid #275E8E;
}

.cell-table-body-red:last-child{
  text-align: left;
  border-color: #E5E5E5;
  padding: 6px !Important; 
  min-height: 30px;
}
.row-table-body-red{
  text-align: left;
  background-color: #F5C1B7;
  border-color: #E5E5E5;
  padding: 6px !Important; 
  min-height: 30px;
}

.row-table-body-red:nth-child(odd){
  background-color: #FFF;
}
.table-patient{
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.div-table-patient-view{
  width: 80%; 
  margin-Bottom: 30px;
}
